body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 5rem;
    text-align: center;
}

.letter{
    transition: color 2000ms;
}